<div class="card">
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0" >Araç Ayarları</p-tab>
            <p-tab value="1">Durak Ayarları</p-tab>
            <p-tab value="2">Bölge Ayarları</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
             <app-car-settings></app-car-settings>
            </p-tabpanel>
            <p-tabpanel value="1">
                Yapım Aşamasında
            </p-tabpanel>
            <p-tabpanel value="2">
                Yapım Aşamasında
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
