<div
  class="size-14 flex-grow h-full flex items-center space-x-6 w-full overflow-x-auto gap-5"
>
  <a
    routerLink="/"
    routerLinkActive="active-link"
    class="text-white hover:text-blue-200 flex items-center"
  >
    <i class="pi pi-home text-xl mr-2!"></i>
    <span>Ana Sayfa</span>
  </a>

  <a
    routerLink="/location"
    routerLinkActive="active-link"
    class="text-white hover:text-blue-200 flex items-center"
  >
    <i class="pi pi-map-marker text-xl mr-2!"></i>
    <span>Konum</span>
  </a>

  <a
    routerLink="/polarcell"
    routerLinkActive="active-link"
    class="text-white hover:text-blue-200 flex items-center"
  >
    <i class="pi pi-bolt text-xl mr-2!"></i>
    <span>Polarcell Özellikleri</span>
  </a>

  <a
    routerLink="/vehicle-management"
    routerLinkActive="active-link"
    class="text-white hover:text-blue-200 flex items-center"
  >
    <i class="pi pi-car text-xl mr-2!"></i>
    <span>Araç Yönetim Sistemi</span>
  </a>

  <a
    routerLink="/stop-tracking"
    routerLinkActive="active-link"
    class="text-white hover:text-blue-200 flex items-center"
  >
    <i class="pi pi-map text-xl mr-2!"></i>
    <span>Durak Takip Sistemi</span>
  </a>

  <a
    routerLink="/system-management"
    routerLinkActive="active-link"
    class="text-white hover:text-blue-200 flex items-center"
  >
    <i class="pi pi-cog text-xl mr-2!"></i>
    <span>Sistem Yönetimi</span>
  </a>

  <a
    routerLink="/hakkinda"
    routerLinkActive="active-link"
    class="text-white hover:text-blue-200 flex items-center"
  >
    <i class="pi pi-chart-bar text-xl mr-2!"></i>
    <span>Raporlar</span>
  </a>

  <a
    routerLink="/help"
    routerLinkActive="active-link"
    class="text-white hover:text-blue-200 flex items-center"
  >
    <i class="pi pi-question-circle text-xl mr-2!"></i>
    <span>Yardım</span>
  </a>
</div>
