
<app-drawer></app-drawer>
<div class="absolute bottom-0 shadow-xl z-[999] w-full bottom-actions">
  <div
    class="h-14 bg-gradient-to-r from-gray-100 via-gray-200 to-gray-300 flex items-center backdrop-blur-sm bg-opacity-90 px-5!"
  >
    <div class="flex items-center h-full justify-end w-full gap-4">
      <!-- Car Icon -->
      <div class="h-8 w-[1px] bg-gray-400"></div>
      <i
      (click)="openDrawer('bus-list')"
        class="pi pi-car text-gray-600 hover:text-gray-800 transition-all duration-300 cursor-pointer text-xl hover:scale-110 hover:bg-gray-200 rounded-full p-2"
      ></i>

      <!-- Location Orange -->
      <div class="h-8 w-[1px] bg-gray-400"></div>
      <i
        class="pi pi-map-marker text-orange-500 hover:text-orange-600 transition-all duration-300 cursor-pointer text-xl hover:scale-110 hover:bg-orange-100 rounded-full p-2"
      ></i>

      <!-- Console Pink -->
      <div class="h-8 w-[1px] bg-gray-400"></div>
      <i
        class="pi pi-desktop text-pink-500 hover:text-pink-600 transition-all duration-300 cursor-pointer text-xl hover:scale-110 hover:bg-pink-100 rounded-full p-2"
      ></i>

      <!-- Location Green -->
      <div class="h-8 w-[1px] bg-gray-400"></div>
      <i
        class="pi pi-map-marker text-green-500 hover:text-green-600 transition-all duration-300 cursor-pointer text-xl hover:scale-110 hover:bg-green-100 rounded-full p-2"
      ></i>

      <!-- Clock Back Blue -->
      <div class="h-8 w-[1px] bg-gray-400"></div>
      <i
        class="pi pi-history text-blue-500 hover:text-blue-600 transition-all duration-300 cursor-pointer text-xl hover:scale-110 hover:bg-blue-100 rounded-full p-2"
      ></i>

      <!-- Warning Red -->
      <div class="h-8 w-[1px] bg-gray-400"></div>
      <i
        class="pi pi-exclamation-triangle text-red-500 hover:text-red-600 transition-all duration-300 cursor-pointer text-xl hover:scale-110 hover:bg-red-100 rounded-full p-2"
      ></i>

      <!-- Temperature Red -->
      <div class="h-8 w-[1px] bg-gray-400"></div>
      <i
        class="pi pi-chart-line text-red-500 hover:text-red-600 transition-all duration-300 cursor-pointer text-xl hover:scale-110 hover:bg-red-100 rounded-full p-2"
      ></i>

      <!-- Person Blue -->
      <div class="h-8 w-[1px] bg-gray-400"></div>
      <i
        class="pi pi-user text-blue-500 hover:text-blue-600 transition-all duration-300 cursor-pointer text-xl hover:scale-110 hover:bg-blue-100 rounded-full p-2"
      ></i>

      <!-- Close -->
      <div class="h-8 w-[1px] bg-gray-400"></div>
      <i
        class="pi pi-times text-gray-600 hover:text-gray-800 transition-all duration-300 cursor-pointer text-xl hover:scale-110 hover:bg-gray-200 rounded-full p-2"
      ></i>
    </div>
  </div>
</div>
